# URL API Backend Laravel (Pilih salah satu)

# 1. Untuk testing dengan backend lokal (jalankan php artisan serve di port 8000)
VITE_API_URL=http://127.0.0.1:8000/api/v1

# 2. Untuk testing dengan backend staging di Railway
# VITE_API_URL=https://revira-gym-project-production.up.railway.app/api/v1